body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
}

.header-child  {
    margin: 8px 16px;
    padding: 16px;
    border: 1px solid black;
}

.content {
    display: flex;
    height: 80%;
}

.content .webpage {
    width: 70%;
}

.content .sidebar {
    width: 30%;
    padding: 16px
}
.hidden {
    display: none;
}